form {
  display: flex;
  flex-flow: column;
  font-size: 1em;
  line-height: normal;
}
::ng-deep.mat-dialog-container {
  background-color: #000;
  border: solid 0.1em #fdd835;
  width: 50rem;
}
.title {
  font-size: 3em;
  padding-bottom: 1em;
  color: #fdd835;
}
mat-label {
  padding-bottom: 1em;
}
.mat-raised-button {
  color: black;
}
:host {
  position: relative;
}
.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .title {
    font-size: 1.5em;
  }
  form {
    font-size: 0.6em;
  }
}
