table {
  table-layout: auto;
  width: 100%;
  font-size: 2em;
  margin-top: 1em;
}
th,
td {
  padding-right: 24px;
}
.mat-header-cell {
  color: #fdd835;
}
.mat-header-cell,
.mat-cell {
  text-align: left;
  border-bottom: none;
  font-size: 1em;
  line-height: normal;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

mat-row {
}
mat-cell {
  text-align: center;
}
button {
  background-color: transparent;
  border: none;
  border-radius: 25px;
}
mat-icon {
  font-size: 1em;
  width: fit-content;
  height: fit-content;
}
.edit {
  color: #fdd835;
}
.delete {
  color: #ff0000;
}
.actions {
  text-align: right;
}
.add-wrapper {
  width: 100%;
  height: 48px;
  background-color: #424242;
  border-bottom: solid rgba(255, 255, 255, 0.12) 1px;
}
.add {
  float: right;
  color: #fdd835;
  height: 100%;
  padding-right: 36px;
  text-align: center;
}
.add > mat-icon {
  font-size: 3em;
}
