<app-container>
  <div
    class="list"
    fxLayout="column"
    fxLayoutAlign="flex-start center"
    fxLayoutGap="1em"
  >
    <span class="title" *ngIf="!isEmbedded && !isEmpty">Biletele mele </span>
    <span class="title" *ngIf="isEmpty">Nu s-au gasit bilete!</span>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      *ngIf="isLoading"
    ></mat-progress-spinner>
    <app-tickets-list
      *ngIf="!isEmpty"
      [reservations]="reservations"
      (onCancel)="cancelReservation($event)"
      (onSendDetails)="sendDetails($event)"
    ></app-tickets-list>
  </div>
  <mat-paginator
    color="accent"
    *ngIf="reservations"
    [length]="reservations.paginationParameters.totalElementCount"
    [pageIndex]="reservations.paginationParameters.currentPage"
    [pageSize]="reservations.paginationParameters.pageSize"
    [hidePageSize]="true"
    (page)="onPageChange()"
  ></mat-paginator>
</app-container>
