<app-container>
  <div
    class="list"
    fxLayout="column"
    fxLayoutAlign="flex-start center"
    fxLayoutGap="1em"
  >
    <span class="title" *ngIf="!isEmpty"
      >Curse
      <mat-icon>departure_board</mat-icon>
    </span>
    <ng-content></ng-content>
    <span class="title" *ngIf="isEmpty">Nu s-au gasit curse! </span>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      *ngIf="isLoading"
    ></mat-progress-spinner>
    <mat-accordion *ngFor="let bdr of result?.items">
      <mat-expansion-panel>
        <mat-expansion-panel-header fxLayout.gt-md="row">
          <mat-panel-title>
            <span class="date">{{
              bdr.drivenRoute.timeTable.departureDate | date: "d-MM-yyyy, H:mm"
            }}</span>
            <span>De la : {{ bdr.drivenRoute.start }}</span>
            <span><mat-icon>arrow_downward</mat-icon></span>
            <span class="date">{{
              bdr.drivenRoute.timeTable.arivvalDate | date: "d-MM-yyyy, H:mm"
            }}</span>
            <span>La : {{ bdr.drivenRoute.destination }}</span>
          </mat-panel-title>
          <mat-panel-title class="middle"
            ><span><mat-icon>arrow_forward</mat-icon></span></mat-panel-title
          >
          <mat-panel-title>
            <span>Autobuz</span>
            <span><mat-icon>directions_bus</mat-icon></span>
            <span>{{ bdr.bus.name }}</span></mat-panel-title
          >
          <mat-panel-title class="middle"
            ><span><mat-icon>arrow_forward</mat-icon></span></mat-panel-title
          >
          <mat-panel-title>
            <span>Pret bilet</span>
            <span><mat-icon>payment</mat-icon></span>
            <span>{{ bdr.drivenRoute.seatPrice }} lei</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content" fxLayout.lt-md="column">
          <mat-panel-title class="time">
            <span>Durata</span>
            <span><mat-icon>access_time</mat-icon></span>
            <span>
              {{ bdr.drivenRoute.timeTable.duration.substring(0, 5) }}
            </span>
          </mat-panel-title>
          <app-bus-schema
            #schema
            [occupiedSeats]="bdr.occupiedSeats"
            [capacity]="bdr.bus.capacity"
          ></app-bus-schema>
          <button
            *ngIf="schema"
            mat-raised-button
            color="primary"
            [routerLink]="['reservation-form']"
            (click)="sendRouteDetails(bdr.id, schema.selectedSeat)"
          >
            Rezerva loc
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-paginator
    *ngIf="result"
    color="accent"
    [length]="result.paginationParameters.totalElementCount"
    [pageSize]="result.paginationParameters.pageSize"
    [hidePageSize]="true"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
  ></mat-paginator>
</app-container>
