.wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  border-top: solid 0.1em #fdd835;
  border-bottom: solid 0.1em #fdd835;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
  height: fit-content;
  position: relative;
  min-height: 100vh;
  padding-left: 1em;
}

button {
  color: black;
  background-color: #fdd835;
  margin-top: 2em;
}
