.spacer {
  flex: 1;
}
:host {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  height: 10%;
}
mat-drawer-container {
  width: fit-content;
  height: 100vh;
  float: right;
  z-index: 1;
}
mat-toolbar {
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 1;
}
.title {
  font-size: 1.6em;
}
.logo {
  font-size: 2em;
}
button {
  font-size: 1.3em;
}
a {
  font-size: 1.3em;
}
.drawer-toggle {
  font-size: 1.3em;
}
mat-icon {
  font-size: 1.5em;
  width: fit-content;
  height: fit-content;
  margin-left: 0.3em;
}
:host {
  opacity: 0.9;
}
