<mat-toolbar color="primary" fxLayoutAlign.lt-lg="center center">
  <a href="" routerLink="/home" mat-button class="title">
    <span>BusReservations</span>
    <mat-icon class="logo">directions_bus</mat-icon>
  </a>
  <div
    fxLayout="row"
    fxShow.lg="true"
    fxHide.lt-sm="true"
    fxLayoutAlign="center center"
  >
    <a href="" mat-button routerLink="routes">Curse</a>
  </div>
  <div class="spacer" fxShow.lt-md="true" fxHide.lt-sm="true"></div>
  <div fxLayout="row" fxLayoutAlign="center center" fxShow.lt-lg="false">
    <button mat-button (click)="openLoginForm()">
      <span>Intra in cont</span>
      <mat-icon>vpn_key</mat-icon>
    </button>
    <button mat-button (click)="openRegisterForm()">
      <span>Creeaza cont</span>
      <mat-icon>assignment</mat-icon>
    </button>
  </div>
  <button
    mat-button
    class="drawer-toggle"
    (click)="drawer.toggle()"
    fxHide.gt-md="true"
    fxHide.xs="true"
  >
    <span fxHide.lt-sm="true" fxHide.sm="true">Cont</span>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxHide.gt-xs="true"
>
  <a href="" mat-button routerLink="routes">Curse</a>
  <button mat-button class="drawer-toggle" (click)="drawer.toggle()">
    <span>Cont</span>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" position="end" #drawer>
    <button (click)="openLoginForm()" mat-button>
      <span>Intra in cont</span>
      <mat-icon>vpn_key</mat-icon>
    </button>
    <button mat-button (click)="openRegisterForm()">
      <span>Creeaza cont</span>
      <mat-icon>assignment</mat-icon>
    </button>
  </mat-drawer>
</mat-drawer-container>
