.title {
  padding-top: 1em;
}
button {
  min-width: 5em;
  width: fit-content;
}
.actions {
  display: flex;
  flex-flow: column wrap;
}
.actions > button {
  width: 100%;
}
:host {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
}
