<button
  class="menu"
  mat-raised-button
  color="primary"
  [matMenuTriggerFor]="menu"
>
  {{ selectedOption }}
</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    routerLink="bus-editor"
    (click)="selectedOption = 'Autobuze'"
  >
    Autobuze
  </button>
  <button
    mat-menu-item
    routerLink="route-editor"
    (click)="selectedOption = 'Rute'"
  >
    Rute
  </button>
  <button
    mat-menu-item
    routerLink="bdr-editor"
    (click)="selectedOption = 'Curse'"
  >
    Curse
  </button>
</mat-menu>
<router-outlet></router-outlet>
