span {
  color: #fdd835;
}
input {
  color: aliceblue;
}
form {
  height: 100%;
  width: fit-content;
  padding: 1em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-self: center;
}
button {
  font-size: 1.5em;
  width: fit-content;
  align-self: center;
  margin-top: 1em;
}
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
