<form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="1em"
  #searchForm="ngForm"
  (ngSubmit)="
    searchAvailableRoutes(
      searchForm.value.start,
      searchForm.value.destination,
      searchForm.value.date
    )
  "
>
  <mat-form-field color="primary" appearance="fill">
    <mat-label>Plecare</mat-label>
    <mat-select
      #start
      ngModel
      name="start"
      (appMatSelectScrollBottom)="fetchOptions(currentPage + 1)"
    >
      <!--
      TO DO add async pipe
      TO TO add custom filter  
      TO DO add validation
      -->
      <mat-option *ngFor="let option of options" [value]="option.start">
        {{ option.start }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="primary" appearance="fill">
    <mat-label>Destinatie</mat-label>
    <mat-select
      #destination
      ngModel
      name="destination"
      (appMatSelectScrollBottom)="fetchOptions(currentPage + 1)"
    >
      <!--
      TO DO add async pipe
      TO TO add custom filter  
      TO DO add validation
      -->
      <mat-option *ngFor="let option of options" [value]="option.destination">
        {{ option.destination }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data plecare</mat-label>
    <input
      matInput
      [matDatepicker]="datepicker"
      name="date"
      ngModel
      required
      [min]="minDate"
    />
    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>
          Alege
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>
    <mat-hint>ZZ/LL/AAAA</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">
    Cauta
    <mat-icon>search</mat-icon>
  </button>
</form>
